.post-list
  padding: 0

  .post-item
    margin-bottom: 1rem
    margin-left: 0
    list-style-type: none
    font-size: 1.5em
    color: #EEEEEE

    .meta
      display: block
      margin-right: 16px
      min-width: 100px
      color: $color-meta
      font-size: .5em

    .post-excerpt
      color: #9E9E9E
      font-size: .7em

    .post-tags
      font-size: .5em
      margin-top: 0

    .post-tag
      color: $pink !important
      background-image: none
      &:hover
        font-weight: bold

@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      margin-bottom: 5px

      .meta
        text-align: left

.project-list
  padding: 0
  list-style: none

  .project-item
    margin-bottom: 5px
    p
      display: inline
