@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

#home {
  padding: 50px;
  padding-bottom: 150px;
  @media (min-width:650px) {
    padding-left: 20%;
    padding-right: 20%;
  }

  background: repeating-linear-gradient(
    45deg,
    rgba($primary, 0.05),
    rgba($primary, 0.05) 50px,
    rgba($primary, 0.09) 50px,
    rgba($primary, 0.09) 100px
  );
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }

  .section-heading {
    text-align: left;
    padding-top: 0;
    color: $dark;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }
  p {
    color: $dark;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
    font-size: 1.25em;
  }

  .landing-row {
    @media (min-width: 576px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .img-circle {
    border: 15px solid rgba($primary, 0.5);
    box-shadow:
      0 0 0 50px mix($primary, white, 4%),
      0 0 0 100px mix($primary, white, 9%),
      0 0 0 150px mix($primary, white, 4),
      0 0 0 200px mix($primary, white, 9%),
      0 0 0 250px mix($primary, white, 4%),
      0 0 0 300px mix($primary, white, 9%),
      0 0 0 350px mix($primary, white, 4%),
      0 0 0 400px mix($primary, white, 9%),
      0 0 0 450px mix($primary, white, 4%),
      0 0 0 500px mix($primary, white, 9%),
      0 0 0 550px mix($primary, white, 4%),
      0 0 0 600px mix($primary, white, 9%),
      ;
    position: relative;
    @media (prefers-color-scheme: dark) {
      border: 15px solid $primary;
      box-shadow:
        0 0 0 50px mix($primary, $dark, 4%),
        0 0 0 100px mix($primary, $dark, 9%),
        0 0 0 150px mix($primary, $dark, 4),
        0 0 0 200px mix($primary, $dark, 9%),
        0 0 0 250px mix($primary, $dark, 4%),
        0 0 0 300px mix($primary, $dark, 9%),
        0 0 0 350px mix($primary, $dark, 4%),
        0 0 0 400px mix($primary, $dark, 9%),
        0 0 0 450px mix($primary, $dark, 4%),
        0 0 0 500px mix($primary, $dark, 9%),
        0 0 0 550px mix($primary, $dark, 4%),
        0 0 0 600px mix($primary, $dark, 9%),
        ;
    }
  }

}

#links{
  .section-heading {
    font-size: 2em;
  }
  a {
    font-size: 1.15em;
  }

  @media (prefers-color-scheme: dark) {
    color: darken(white, 20%);
  }
  font-size: 1.25em;
}
