@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


.Lyra {
  .section-heading {
    color: lighten($dark, 25%);;
  }
  img {
    object-fit: cover; 
  }
  main {
    padding: 0 10vw;
  }
  .loader {
    clear: both
  }
}
