@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


#portfolio {
  position: relative;
  background-color: white;
  top: -100px;
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
  span {
    color: lighten($dark, 20%);
    @media (prefers-color-scheme: dark) {
      color: darken(white, 20%);
    }
  }
  h2 {
    color: lighten($dark, 20%);
    @media (prefers-color-scheme: dark) {
      color: white;
    }
    margin: 0;
    margin-bottom: 50px
  }

  .rc-slider{
    max-width: 400px;
    @media screen and (orientation:portrait) {
      max-width: 70vw;
    }
    .rc-slider-track {
      background-color: lighten($primary, 25%);
      @media (prefers-color-scheme: dark) {
        background-color: $primary;
      }
    }
    .rc-slider-handle, .rc-slider-dot-active {
      border-color: lighten($primary, 25%);
      @media (prefers-color-scheme: dark) {
        border-color: $primary;
      }
      &:active {
        box-shadow: 0 0 5px lighten($primary, 25%);
        @media (prefers-color-scheme: dark) {
          box-shadow: 0 0 5px $primary;
        }
      }
    }
    .rc-slider-mark-text {
      width: 100px;
    }
    .rc-slider-rail {
      @media (prefers-color-scheme: dark) {
        background-color: lighten($dark, 30%);
      }
    }
  }

  .portfolio-box {
    padding: 5% 10%;
    color: lighten($dark, 25%);
    @media (prefers-color-scheme: dark) {
      color: darken(white, 10%);
    }
    h1 {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2em;
      color: $primary;
      @media (prefers-color-scheme: dark) {
        color: lighten(saturate($primary, 10%), 10%);
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      font-size: 1.15em;
      transition: all .5s ease;
    }
    li:before {
      content: "> ";
    }

    .header {
      font-size: 1.2em;
      .title {
        color: darken($primary, 30%);
        @media (prefers-color-scheme: dark) {
          color: lighten($primary, 30%);
        }
        text-transform: uppercase;
        font-weight: bold;
      }

      .desc {
        color: darken($primary, 30%);
        @media (prefers-color-scheme: dark) {
          color: lighten($primary, 40%);
        }
      }
      .date {
        text-transform: uppercase;
        font-weight: bold;
        color: lighten($primary, 20%);
        @media (prefers-color-scheme: dark) {
          color: fade($primary, 10%);
        }
      }
    }

    .divider-weak {
      color: lighten($dark, 70%);
    }

    .divider-strong {
      color: $primary;
      font-weight: bold;
    }
  }

  .points-enter {
    opacity: 0.01;
  }

  .points-enter.points-enter-active {
    opacity: 1;
    color: $primary;
    transition: all 500ms ease;
  }

  .points-exit {
    opacity: 1;
  }

  .points-exit-active {
    opacity: 0.01;
    color: lighten($primary, 20%);
    transition: all 500ms ease;
    text-decoration: line-through;
  }

  .points-appear {
    opacity: 0.01;
  }

  .points-appear.points-appear-active {
    opacity: 1;
    transition: all .5s ease;
  }

}
