{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title -%}
<title>{{page.title}} | {{config.title}}</title>
<meta property="og:title" content="{{page.title}} | {{config.title}}" />
<meta name="twitter:title" content="{{page.title}} | {{config.title}}" />
{%- endblock title %}

{% block content %}
<article class="article">
  <header>
    <h1>{{ page.title }}</h1>
    <div>
      <div class="article-meta">
        <time datetime="{{ page.date | date(format="%F") | safe }}">
          {{ page.date | date(format="%F") }}
        </time>
        {% if page.extra.author -%}
        by {{ page.extra.author}}
        {%- endif %}
        ({{ page.reading_time }} min read)
      </div>
    </div>
  </header>
  <section id="js-article" class="article-body">
    {{ macros::polish(content=page.content) }}
  </section>
  <footer>
    <div class="social-icons">
      ---
      <br/>
      Thanks for reading <3
      <br/>
      I'm generally open to being contacted, find/contact me via:
      <a class="icon-link" href="https://www.instagram.com/1eilanib/">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="icon-link" href="mailto:elbender@princeton.edu">
        <i class="fas fa-envelope"></i>
      </a>
      <a class="icon-link" href="https://www.linkedin.com/in/leilanibender/">
        <i class="fas fa-linkedin"></i>
      </a>
    </div>
  </footer>
</article>
{%- endblock content %}
