@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.jumbotron {
  background-color: transparent;
  animation: fadein 2s;
  padding-top: 10%;
}

#home {
  background-image: url("../img/mt.svg");
  background-color: $primary;
  background-position: center;
  background-size: cover;
  opacity: 1;
  @include transition(background 1.5s linear);
  text-align: center;
  height: 100vh;
  .section-heading {
    font-size: 4em;
  }
  @media screen and (orientation:portrait) {
    padding-top: 25%;
  }
}
.person-graphic {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 33vw;
  z-index: 0;
  @media screen and (orientation:portrait) {
    width: 50vw;
  }
}
.quote {
  font-size: 1.5em;
  color: lighten(white, 90%);
}

p .quote-content {
  font-weight: bolder;
}

#about{
  height: 100%;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background: repeating-linear-gradient(
    45deg,
    rgba($primary, 0.05),
    rgba($primary, 0.05) 40px,
    rgba($primary, 0.09) 40px,
    rgba($primary, 0.09) 80px
  );
  box-shadow: inset 0px -100px 100px -45px white;
  h2 {
    color: lighten($dark, 20%);
  }
  p {
    color: $primary;
    font-size: 1.5em;
  }
  @media (min-width:650px) {
    padding-left: 10%;
    padding-right: 10%;
  }
  a {
    margin: 2px;
    color: $primary;
    &:hover {
      color: darken($primary, 15%);
    }
  }
}
